html
{
    box-sizing: border-box;
}

*, ::before, ::after
{
    box-sizing: inherit;
}

body
{
    background: linear-gradient(90deg,rebeccapurple,steelblue);
    margin: 40px;
}

.container
{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
    place-content: center center; 
}

.weather-box
{
    background-color: rgb(97, 214, 127);
    color: black;
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    border-radius: 5px;
    box-shadow: 5px 12px 18px rgb(99, 98, 98);
    height: 170px;
    display: grid;
    place-items: center center;
}

.header,.location, .app
{
    grid-column: 1 / -1;
    height: 80px;
    color: rgb(58, 58, 58);
}

.app
{
    height: 50px;
    background-color: yellow;
}

.time
{
    grid-column: span 1/-1;
}

.footer
{
    grid-column: 1 / -1;
    height: 70px;
    background-color: yellow;
}

.dev-details
{
    display: grid;
    grid-template-columns: 2fr 10fr 1fr;
    justify-items: center;
}

@media screen and (mix-width: 600px)
{
    .time
    {
       grid-column: 1/-1;   
    }
}
